@{
    ViewBag.Title = "Tất cả lịch sử kiểm kê";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptTimKiem)
@Html.Raw(ViewBag.ScriptAjaxXemHinh)
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nhập - Xuất kho &gt; Tồn kho</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">playlist_add_check</i>
                                <span class="font-20">DANH MỤC LỊCH SỬ KIỂM KÊ</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="/TonKho/tkho_TonThucTe">
                                            <i class="material-icons">add</i> TỒN KHO THỰC TẾ
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/TonKho/tkho_TableTonKho">
                                            <i class="material-icons">list</i> LỊCH SỬ KIỂM KHO
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">

                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Mã số kỳ</th>
                                                    <th width="25%">Người kiểm</th>
                                                    <th width="35%">Ngày kiểm</th>
                                                    <th width="15%">Tổng tiền</th>
                                                    <th width="20%">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                                @*<tr role="row" class="odd">
                                                        <td>121</td>
                                                        <td>phutangthien</td>
                                                        <td>02/11/1996</td>
                                                        <td>192000</td>
                                                        <td><a href="TonKho/tkho_TableCtTonKho" class="btn btn-info waves-effect">Xem chi tiết </a></td>
                                                    </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

</section>
