@{
    ViewBag.Title = "tkho_TableCtTonKho";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

@{
    ViewBag.Title = "Kiểm kê kho hàng";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nhập - Xuất kho &gt; Tồn kho &gt; Chi tiết kiểm kho</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <i class="material-icons">assignment</i>
                                <span class="font-20">DANH MỤC NGUYÊN LIỆU TRONG ĐỢT KIỂM KÊ "@ViewBag.MaSoKy"</span>
                            </div>

                        </div>
                    </div>
                    <div class="body">
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane fade  active in" id="thongtinTonKho">
                                <div class="card">
                                    <div class="header bg-red">
                                        <h2>Danh sách nguyên liệu đã kiểm</h2>
                                    </div>
                                    <div class="body">

                                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                            <thead>
                                                                <tr>
                                                                    <th width="12%">Nguyên liệu</th>
                                                                    <th width="8%">Đơn giá</th>
                                                                    <th width="15%">Số lượng đầu kỳ</th>
                                                                    <th width="15%">Số lượng lý thuyết</th>
                                                                    <th width="15%">Số lượng thực tế</th>
                                                                    <th width="10%">Hao hụt</th>
                                                                    <th width="15%">Nguyên nhân</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>

                                                            </tfoot>
                                                            <tbody>
                                                                @Html.Raw(ViewBag.TableData)
                                                                @*<tr role="row" class="odd">
                    <td>121</td>
                    <td>phutangthien</td>
                    <td>02/11/1996</td>
                    <td>192000</td>
                    <td><a href="TonKho/tkho_TableCtTonKho" class="btn btn-info waves-effect">Xem chi tiết </a></td>
                </tr>*@
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                                        @Html.Raw(ViewBag.PhanTrang)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>  <!--body-card-->
                                </div> <!--card phiếu nhập-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

</section>
