@{
    ViewBag.Title = "tkho_KiemKeKho";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
<script src="~/Scripts/Ajax/kiemKho.js"></script>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nhập - Xuất kho &gt; Danh mục hàng tồn &gt; Kiểm kê kho hàng</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">spellcheck</i>
                                <span class="font-20">KIỂM KÊ KHO HÀNG</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="active">
                                        <a href="/TonKho/tkho_KiemKeKho">
                                            <i class="material-icons">add</i> KIỂM KHO
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/TonKho/tkho_TableTonKho">
                                            <i class="material-icons">list</i> DANH MỤC TỒN KHO
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <form action="/TonKho/tkho_KiemKeKho" method="post">
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active"><a href="#thongtinTonKho" data-toggle="tab" aria-expanded="true">Thông tin tồn kho</a></li>
                                <li role="presentation" class=""><a href="#nguyenLieuCanKiem" data-toggle="tab" aria-expanded="false">Nguyên liệu cần kiểm</a></li>
                                <li role="presentation" class=""><a href="#nguyenLieuDaKiem" data-toggle="tab" aria-expanded="false">Nguyên liệu đã kiểm</a></li>
                            </ul>
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane fade  active in" id="thongtinTonKho">
                                    <div class="card">
                                        <div class="header bg-red">
                                            <h2>Thông tin kiểm kho</h2>
                                        </div>
                                        <div class="body">
                                            <div class="row clearfix">
                                                <div class="col-md-3 col-lg-3">
                                                    <label for="txtNguoiKiem">Người kiểm</label>
                                                    <div class="form-group">
                                                        <div class="form-line focused">
                                                            <input id="txtNguoiKiem" class="form-control"
                                                                   name="txtNguoiKiem" disabled />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-lg-9">

                                                    <label for="txtGhiChu">Ghi chú</label>
                                                    <div class="form-group">
                                                        <div class="form-line focused">
                                                            <input id="txtGhiChu" class="form-control no-resize"
                                                                   name="txtGhiChu" placeholder="Nhập thêm ghi chú khi kiểm kê kho" />
                                                        </div>
                                                    </div>

                                                </div>

                                            </div><!--row-->
                                        </div>  <!--body-card-->
                                    </div> <!--card phiếu nhập-->
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="nguyenLieuCanKiem">
                                    <div class="card buoc">
                                        <div class="header bg-cyan">
                                            <h2>Nguyên liệu cần kiểm</h2>
                                        </div>
                                        <div class="body">
                                            <div class="row clearfix">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                        <tr>
                                                            <th width="12%">Nguyên liệu</th>
                                                            <th width="8%">Đơn giá</th>
                                                            <th width="15%">Số lượng đầu kỳ</th>
                                                            <th width="15%">Số lượng lý thuyết</th>
                                                            <th width="15%">Số lượng thực tế</th>
                                                            <th width="10%">Hao hụt</th>
                                                            <th width="15%">Nguyên nhân</th>
                                                            <th width="10%">Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>

                                                    </tfoot>
                                                    <tbody id="danhSachTruocKiem">
                                                        @Html.Raw(ViewBag.TableData)
                                                        @*<tr role="row" class="odd">
                                            <td>Tên nguyên liệu</td>
                                            <td>Số lượng tồn</td>
                                            <td>Đơn giá</td>
                                            <td>Ngày kiểm</td>
                                            <td>Người kiêm3</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                        Chức năng <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="/NhapKho/nk_ChinhSuaPhieuNhap?maPhieu=17" class="col-blue waves-effect waves-block">
                                                                <i class="material-icons">mode_edit</i>Cập nhật
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>*@


                                                    </tbody>
                                                </table>
                                            </div><!--row-->
                                        </div>  <!--body-card-->
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="nguyenLieuDaKiem">
                                    <div class="card buoc">
                                        <div class="header bg-red">
                                            <h2>Nguyên liệu cần kiểm</h2>
                                        </div>
                                        <div class="body">
                                            <div class="row clearfix">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                        <tr>
                                                            <th width="12%">Nguyên liệu</th>
                                                            <th width="8%">Đơn giá</th>
                                                            <th width="15%">Số lượng đầu kỳ</th>
                                                            <th width="15%">Số lượng lý thuyết</th>
                                                            <th width="15%">Số lượng thực tế</th>
                                                            <th width="10%">Hao hụt</th>
                                                            <th width="15%">Nguyên nhân</th>
                                                            <th width="10%">Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>

                                                    </tfoot>
                                                    <tbody id="danhSachSauKiem">
                                                        @Html.Raw(ViewBag.TableDataDaKiem)
                                                    </tbody>
                                                </table>
                                            </div><!--row-->
                                        </div>  <!--body-card-->
                                    </div>
                                </div>

                            </div>
                            <!--card Bước-->
                            <div class="col-md-7"></div>
                            <div class="col-md-5">
                                <br>
                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu lại</button>
                                <a href="/TonKho/tkho_KiemKeKho" class="btn btn-default m-t-15 waves-effect">Reset</a>
                                <button type="button" onclick="troVeTrangTruoc()" class="btn btn-default m-t-15 waves-effect">Trở lại</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@Html.Raw(ViewBag.ThongBao)
