
@{
    ViewBag.Title = "tkho_TableTonKhoTheoThang";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptTimKiem)
@Html.Raw(ViewBag.ScriptAjaxXemHinh)
<script>
    $(document).ready(function () {
        capNhatTonKho();
    });

    function capNhatTonKho() {
        //-------Mở modal cập nhật
        $('.capNhatTonKho').click(function () {
            var ts = $(this).attr('maNL');
            $.ajax({
                url: getDuongDan() + 'TonKho/xemChiTietTonKho',
                data: 'maNguyenLieu=' + ts,
                type: 'GET',
                context: this,
                dataType: 'html',
                beforeSend: function () {
                    $('.capNhatTonKho').unbind('click');
                },
                success: function (data, textStatus, xhr) {
                    $('#largeModalLabel').html('Cập nhật tồn kho cho nguyên liệu ' + data.split('|')[0]);
                    $('#hinhNL').attr('src', data.split('|')[1]);
                    $('#txtSoLuongTon').val(data.split('|')[2]);
                    $('#txtDonGia').val(data.split('|')[3]);
                    $('#txtGhiChu').val(data.split('|')[4]);
                    //-------Hiện modal
                    $('#modalCapNhat').modal('show');
                    //-------Gán mã để xác định record cần cập nhật
                    $('#btnCapNhat').attr('maNL', ts);
                    hienmodalCapNhatTonKho();

                },
                error: function (xhr, textStatus, errorThrown) {
                    hienmodalCapNhatTonKho();
                }
            });
        });
        //--------Thực hiện cập nhật
        $('#btnCapNhat').click(function () {
            //Thiết lập tham số chữa dữ liệu cần cập nhật: maNguyenLieu|soLuongTon|donGia|ghiChu
            var ts = $(this).attr('maNL') + '|' + $('#txtSoLuongTon').val() + '|' + $('#txtDonGia').val() + '|' + $('#txtGhiChu').val();
            $.ajax({
                url: getDuongDan() + 'TonKho/capNhatTonKho',
                data: 'data=' + ts,
                type: 'POST',
                context: this,
                dataType: 'html',
                beforeSend: function () {
                    $('#btnCapNhat').unbind('click');
                },
                success: function (data, textStatus, xhr) {
                    //----Hiện lại bảng danh sách tồn kho
                    $('#vungDanhSach').empty();
                    $('#vungDanhSach').html(data);
                    capNhatTonKho();
                },
                error: function (xhr, textStatus, errorThrown) {
                    capNhatTonKho();
                }
            });
        });
    }
</script>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nhập - Xuất kho &gt; Danh mục hàng tồn &gt; Tồn kho theo tháng</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">view_list</i>
                                <span class="font-20">TỒN KHO THEO THÁNG</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="active">
                                        <a href="/NhapKho/nk_TablePhieuNhap">
                                            <i class="material-icons">list</i> DANH MỤC NGUYÊN LIỆU TỒN KHO
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row clearfix">

                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <label>Tìm kiếm nhanh</label>
                                <div class="form-group">
                                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                                        <div class="form-line">
                                            <input type="text" name="txtTimKiem" id="txtTimKiem" class="form-control" placeholder="Nhập tên nguyên liệu cần tìm kiếm">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                        <div class="form-line">
                                            <button class="btn btn-success m-t-15 waves-effect" id="btnTimKiem"><i class="material-icons">search</i> Tìm kiếm nguyên liệu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="1" width="15%" colspan="1">Nguyên liệu</th>
                                                            <th rowspan="1" width="10%" colspan="1">Số lượng tồn</th>
                                                            <th rowspan="1" width="10%" colspan="1">Đơn giá</th>
                                                            <th rowspan="1" width="10%" colspan="1">Ngày kiểm</th>
                                                            <th rowspan="1" width="10%" colspan="1">Người kiểm</th>
                                                            <th rowspan="1" width="15%" colspan="1">Ghi chú</th>
                                                            <th rowspan="1" width="15%" colspan="1">Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>

                                                    </tfoot>
                                                    <tbody id="vungDanhSach">
                                                        @Html.Raw(ViewBag.TableData)
                                                        @*<tr role="row" class="odd">
                                                                <td>Tên nguyên liệu</td>
                                                                <td>Số lượng tồn</td>
                                                                <td>Đơn giá</td>
                                                                <td>Ngày kiểm</td>
                                                                <td>Người kiêm3</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                            Chức năng <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li>
                                                                                <a href="/NhapKho/nk_ChinhSuaPhieuNhap?maPhieu=17" class="col-blue waves-effect waves-block">
                                                                                    <i class="material-icons">mode_edit</i>Cập nhật
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>*@


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

</section>

<!--Modal xem hình sản phẩm-->
@Html.Raw(ViewBag.ModalChiTiet)
<!-- Modal cho danh sách chi tiết hoá đơn -->
<div class="modal fade" id="modalCapNhat" tabindex="-2" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="largeModalLabel">CẬP NHẬT TỒN KHO CHO NGUYÊN LIỆU....</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <img src="~/images/Public/2.jpg" width="200px;" height="auto;" id="hinhNL" />
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <label for="txtSoLuongTon">Số lượng tồn</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="txtSoLuongTon" name="txtSoLuongTon"
                                           class="form-control" placeholder="Nhập số lượng nguyên liệu hiện có trong kho">
                                </div>
                            </div>
                            <label for="txtDonGia">Đơn giá </label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" id="txtDonGia" name="txtDonGia"
                                           class="form-control" placeholder="Nhập đơn giá hiện tại của nguyên liệu trong kho">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <label for="txtGhiChu">Ghi chú </label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="txtGhiChu" name="txtGhiChu"
                                           class="form-control" placeholder="Nhập thông tin ghi chú về nguyên liệu trong kho">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary waves-effect" id="btnCapNhat" data-dismiss="modal"><i class="material-icons">save</i>Cập nhật</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i class="material-icons">exit_to_app</i>Đóng lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal cho danh sách chi tiết  -->


