
@{
    ViewBag.Title = "Thống kê doanh thu theo thời điểm";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
<!--Script chart-->
<script src="~/plugins/ChartCustom/Chart.bundle.js"></script>
<script src="~/plugins/ChartCustom/utils.js"></script>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thống kê > Doanh thu theo thời điểm</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">insert_chart</i>
                            THỐNG KÊ DOANH THU THEO THỜI ĐIỂM
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink" role="tablist">

                            <li role="presentation" class="active"><a href="/ThongKe/tke_DoanhThuTheoNgay"><i class="material-icons">looks_6</i>Theo ngày</a></li>
                            <li role="presentation" ><a class="js-thongke-ngay"><i class="material-icons">view_week</i>Theo tuần</a></li>
                            <li role="presentation" class=""><a><i class="material-icons">date_range</i>Theo tháng</a></li>
                            <li role="presentation" class=""><a ><i class="material-icons">poll</i>Theo quý</a></li>
                            <li role="presentation" class=""><a><i class="material-icons">present_to_all</i>Theo năm</a></li>

                        </ul>

                        <div class="tab-content" id="vung-thongke">


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>





<script>
    $(document).ready(function () {
        $('#js-thongke-ngay').click(function () {
            var url = '@Url.Action("DoanhThuTheoNgay", "ThongKe")';
            $('#vung-thongke').load(url);//, { searchText: keyWord });
        });
    });
</script>