@{
    ViewBag.Title = "Thống kê tổng thu sản phẩm theo năm";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

@section sciptajax{
<script src="~/Scripts/jsapi.js"></script>
<script src="~/Scripts/Ajax/ThongKe/thongKeDoanhThu.js"></script>
<script>
    google.load("visualization", "1", { packages: ["corechart"] });

    $(document).ready(function () {

        $('#js-cbb-sanpham').change(function () {
            callAjax();
        });


        $('#cbbNamSP').change(function () {
            callAjax();
        });
    });

    function callAjax() {
        var maSP = $('#js-cbb-sanpham').val();
        var date = $('#cbbNamSP').val();
        jsonDoanhThuSanPham(maSP, date);
    }


    function jsonDoanhThuSanPham(maSP, date) {
        $.ajax({
            type: "GET",
            url: '/ThongKe/GetJsonDoanhThuSanPhamTheoNam',
            data: 'maSP=' + maSP + '&time=' + date,
            contentType: "application/json; charset=utf-8",
            dataType: "json", async: true,
            beforeSend: function () {
                $('#chart-nam').html('');
            },
            success: function (kq) {
                if (Object.keys(kq).length > 0) //------Kiểm tra nếu có dữ liệu mới vẽ biểu đồ
                    drawLineChartDoanhThuMotSanPham(kq, "Thống kê doanh thu của sản phẩm của năm", "chart-nam")
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>
}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thống kê > Doanh thu theo sản phẩm</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">local_cafe</i>
                            THỐNG KÊ DOANH THU THEO SẢN PHẨM
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink tabs-thongke" role="tablist">

                            <li role="presentation" class=""><a href="/ThongKe/tke_ThongKeThuSanPhamNgay"><i class="material-icons">looks_6</i>Theo ngày</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_ThongKeThuSanPhamTuan"><i class="material-icons">view_week</i>Theo tuần</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_ThongKeThuSanPhamThang"><i class="material-icons">date_range</i>Theo tháng</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_ThongKeThuSanPhamQuy"><i class="material-icons">poll</i>Theo quý</a></li>
                            <li role="presentation" class="active"><a href="/ThongKe/tke_ThongKeThuSanPhamNam"><i class="material-icons">present_to_all</i>Theo năm</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="row">
                                <div class="card">
                                    <div class="header bg-cyan">
                                        <h2>Thống kê doanh thu sản phẩm diễn biến theo năm</h2>
                                    </div>
                                    <div class="body" style="max-height: 740px; min-height: 740px; ">

                                        <div class="row clearfix">
                                            <div class="col-md-7">

                                                <div class="form-group">
                                                    <div class="col-md-3 m-t-10">
                                                        <label>Chọn sản phẩm</label>
                                                    </div>
                                                    <div class="col-md-8 pull-right">
                                                        <select class="form-control" id="js-cbb-sanpham">
                                                            @Html.Raw(ViewBag.CbbSanPham)
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-5 pull-right">
                                                <div class="col-md-5 m-t-10">
                                                    <label>Chọn năm</label>
                                                </div>
                                                <div class="col-md-6 pull-right">
                                                    <div class="input-group">
                                                        <select class="form-control" id="cbbNamSP">
                                                            @Html.Raw(ViewBag.CbbNam)
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="chart-nam" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 column-chart"></div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

