
@{
    ViewBag.Title = "Thống kê doanh thu theo tuần";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<script src="~/Scripts/jsapi.js"></script>
<script src="~/Scripts/Ajax/ThongKe/thongKeDoanhThu.js"></script>
@Html.Raw(ViewBag.ScriptAjax)
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    var soHDs, tamTinhs, dts;
    $(document).ready(function () {

        var ts;       

        $('#txtStartNgay').val(getDateCurrent());
        ts = $('#txtStartNgay').val();      
        layDuLieuHoaDon(jsonThongKeDoanhThu, soHDs, tamTinhs, dts, ts, 'chart-tuan', "Thống kê tổng doanh thu theo tuần từ ngày: " + ts + " đến " + convertDateToString(getDateOfNextWeek(ts)));
        $('#txtStartNgay').change(function () {
            ts = $('#txtStartNgay').val();
            layDuLieuHoaDon(jsonThongKeDoanhThu, soHDs, tamTinhs, dts, ts, 'chart-tuan', "Thống kê tổng doanh thu theo tuần từ ngày: " + ts + " đến " + convertDateToString(getDateOfNextWeek(ts)));
        })
    });


</script>





<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thống kê > Doanh thu theo thời điểm</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">insert_chart</i>
                            THỐNG KÊ DOANH THU THEO THỜI ĐIỂM
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink tabs-thongke" role="tablist">

                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoNgay"><i class="material-icons">looks_6</i>Theo ngày</a></li>
                            <li role="presentation" class="active"><a href="/ThongKe/tke_DoanhThuTheoTuan"><i class="material-icons">view_week</i>Theo tuần</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoThang"><i class="material-icons">date_range</i>Theo tháng</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoQuy"><i class="material-icons">poll</i>Theo quý</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoNam"><i class="material-icons">present_to_all</i>Theo năm</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="row">
                                <div class="col-md-5 pull-right">
                                    <div class="col-md-5 m-t-10">
                                        <label>Chọn ngày bắt đầu</label>
                                    </div>
                                    <div class="col-md-7 pull-right">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input class="form-control ngayValidate" id="txtStartNgay" min="1899-01-01" 
                                                       required="true" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="chart-tuan" class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="max-width:979px; height:600px"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
