
@{
    ViewBag.Title = "Thống kê doanh thu theo quý";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<script src="~/Scripts/jsapi.js"></script>
<script src="~/Scripts/Ajax/ThongKe/thongKeDoanhThu.js"></script>
@Html.Raw(ViewBag.ScriptAjax)
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    var soHDs, tamTinhs, dts;
    $(document).ready(function () {

        $('#cbbNam').change(function () {
            var ts = $('#cbbNam').val();
            layDuLieuHoaDon(jsonThongKeDoanhThu, soHDs, tamTinhs, dts, ts, 'chart-quy', "Thống kê tổng doanh thu theo quý của năm " + ts);
        })


        $('#cbbQuySP').change(function () {
            var ts = $(this).val();
            var title = "Thống kê số lượng sản phẩm bán theo quý : " + ts;
            var titleDoanhThu = "Thống kê doanh thu sản phẩm bán theo quý : " + ts;
            $.ajax({
                type: "GET",
                url: '/ThongKe/GetJsonSanPhamTheoQuy',
                data: 'param=' + ts,
                contentType: "application/json; charset=utf-8",
                dataType: "json", async: true,
                success: function (kq) {
                    drawPieChartSanPham(kq, title, "pie-chart-quy");
                    drawColumnChartDoanhThuTheoSanPham(kq, titleDoanhThu, "chart-sanpham-quy");
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        });
    });


</script>





<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thống kê > Doanh thu theo thời điểm</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">insert_chart</i>
                            THỐNG KÊ DOANH THU THEO THỜI ĐIỂM
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink tabs-thongke" role="tablist">

                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoNgay"><i class="material-icons">looks_6</i>Theo ngày</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoTuan"><i class="material-icons">view_week</i>Theo tuần</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoThang"><i class="material-icons">date_range</i>Theo tháng</a></li>
                            <li role="presentation" class="active"><a href="/ThongKe/tke_DoanhThuTheoQuy"><i class="material-icons">poll</i>Theo quý</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_DoanhThuTheoNam"><i class="material-icons">present_to_all</i>Theo năm</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="row">

                                <div class="card">
                                    <div class="header bg-cyan">
                                        <h2>Thống kê tổng doanh thu theo quý</h2>
                                    </div>
                                    <div class="body" style="max-height: 740px; min-height: 740px; ">

                                        <div class="col-md-6 pull-right">
                                            <div class="col-md-5 m-t-10">
                                                <label>Chọn quý thống kê</label>
                                            </div>
                                            <div class="col-md-6 pull-right">
                                                <div class="input-group">
                                                    <select class="form-control" id="cbbNam">
                                                        <option value="-1">Chọn năm</option>
                                                        @Html.Raw(ViewBag.CbbNam)
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="chart-quy" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 column-chart" ></div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="card">
                                    <div class="header bg-green">
                                        <h2>Thống kê số lượng sản phẩm đã bán theo quý</h2>
                                    </div>
                                    <div class="body" style="max-height: 740px; min-height: 740px; ">
                                        <div class="col-md-5 pull-right">
                                            <div class="col-md-5 m-t-10">
                                                <label>Chọn quý thống kê</label>
                                            </div>
                                            <div class="col-md-7 pull-right">
                                                <div class="input-group">
                                                    <select class="form-control" id="cbbQuySP">
                                                        <option value="-1">Chọn quý</option>
                                                        <option value="1">Quý 1</option>
                                                        <option value="2">Quý 2</option>
                                                        <option value="3">Quý 3</option>
                                                        <option value="4">Quý 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="pie-chart-quy" class="pie-chart"></div>
                                        </div>
                                    </div>
                                </div>

                             
                            </div>

                            <div class="row">
                                <div class="card">
                                    <div class="header bg-orange">
                                        <h2>Thống kê doanh thu sản phẩm đã bán theo quý</h2>
                                    </div>
                                    <div class="body" style="max-height: 740px; min-height: 740px; ">
                                        <div id="chart-sanpham-quy" class="column-chart"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>



