@{
    ViewBag.Title = "Thống kê tiền xuất kho theo tuần";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

@section sciptajax{
    <script src="~/Scripts/jsapi.js"></script>
    <script src="~/Scripts/Ajax/ThongKe/thongKeKho.js"></script>
    @Html.Raw(ViewBag.ScriptAjax)



    <script>

        function jsonThongKe(handleData, ts) {
            $.ajax({
                url: "/ThongKe/GetJsonTongTienXuatTheoTuan",
                data: 'param=' + ts,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                beforeSend: function () {
                    $('#column-chart-total').html('');
                    $('.page-loader-wrapper').attr('style', 'display:block');
                },
                success: function (result) {
                    handleData(result);
                    hienTongTienNhapKho(result);
                    $('.page-loader-wrapper').attr('style', 'display:none');
                },
                error: function (errormessage) {
                }
            });
            return false;
        }

        google.load("visualization", "1", { packages: ["corechart"] });

        var phieuNhaps, tienNhaps, dts;


        $(document).ready(function () {
            var ts;
            $('#txtNgay').val(getDateCurrent());
            ts = $('#txtNgay').val();
            executeThongKe(ts);
            $('#txtNgay').change(function () {
                ts = $('#txtNgay').val();
                executeThongKe(ts);
            })
        });

        function executeThongKe(ts) {
            layDuLieuTongTienNhap(jsonThongKe, phieuNhaps, tienNhaps, dts, ts, 'column-chart-total', "Từ ngày: " + ts + " đền " + convertDateToString(getDateOfNextWeek(ts)));
            VeBieuDoTronThongKeNguyenLieuNhap(ts);
        }

        function VeBieuDoTronThongKeNguyenLieuNhap(ts) {
            var titleSoLuong = "Từ ngày " + ts + " đến " + convertDateToString(getDateOfNextWeek(ts));
            var titleTienNhap = "Từ ngày " + ts + " đến " + convertDateToString(getDateOfNextWeek(ts));
            $.ajax({
                type: "GET",
                url: '/ThongKe/GetJsonSoLuongXuatKhoTheoTuan',
                data: 'param=' + ts,
                contentType: "application/json; charset=utf-8",
                dataType: "json", async: true,
                beforeSend: function () {
                    $('#pie-chart-nguyenlieu').html('');
                    $('#column-chart-nguyenlieu').html('');
                },
                success: function (kq) {
                    hienTongTienNhapKho(kq);
                    drawPieChartNguyenLieu(kq, titleSoLuong, "pie-chart-nguyenlieu");
                    drawColumnChartPriceOfMeterial(kq, titleTienNhap, "column-chart-nguyenlieu");
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        }
    </script>
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thống kê > Thống kê tiền xuất kho</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">insert_chart</i>
                            THỐNG KÊ xuất KHO NGUYÊN LIỆU
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink tabs-thongke" role="tablist">

                            <li role="presentation" class=""><a href="/ThongKe/tke_NhapKhoTheoNgay"><i class="material-icons">looks_6</i>Theo ngày</a></li>
                            <li role="presentation" class="active"><a href="/ThongKe/tke_NhapKhoTheoTuan"><i class="material-icons">view_week</i>Theo tuần</a></li>
                            <li role="presentation" class=""><a href="/ThongKe/tke_NhapKhoTheoThang"><i class="material-icons">date_range</i>Theo tháng</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="row">
                                <div class="card">
                                    <div class="header bg-cyan">
                                        <h2>Thống kê tổng tiền xuất kho theo tuần</h2>
                                    </div>
                                    <div class="body" style="max-height: 740px; min-height: 740px; ">

                                        <div class="row clearfix">
                                            <div class="col-md-7">
                                                <label class="font-18 col-red js-tong-tien"></label>
                                            </div>
                                            <div class="col-md-5 pull-right">
                                                <div class="col-md-4 m-t-10">
                                                    <label>Chọn ngày</label>
                                                </div>
                                                <div class="col-md-7 pull-right">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">date_range</i>
                                                        </span>
                                                        <div class="form-line">
                                                            <input class="form-control ngayValidate" id="txtNgay" min="1899-01-01" name="txtNgay"
                                                                   required="true" type="date">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="column-chart-total" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 column-chart"></div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="card">
                                    <div class="header bg-green">
                                        <h2>Thống kê số lượng nguyên liệu đã xuất theo tuần</h2>
                                    </div>
                                    <div class="body pie-chart">
                                        <div id="pie-chart-nguyenlieu" class="pie-chart"></div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="card">
                                    <div class="header bg-orange">
                                        <h2>Thống kê tiền xuất trên từng nguyên liệu theo tuần</h2>
                                    </div>
                                    <div class="body" style="max-height: 740px; min-height: 740px; ">
                                        <label class="font-18 col-red js-tong-tien"></label>
                                        <div id="column-chart-nguyenlieu" class="column-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
