
@{
    ViewBag.Title = "Đánh giá nhân viên";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
<style type="text/css">
    .media {
        cursor: pointer;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Điều phối - Đánh giá > Đánh giá nhân viên</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ĐÁNH GIÁ NĂNG LỰC NHÂN VIÊN
                        </h2>
                    </div>
                    <div class="body">
                        <div class="card">
                            <div class="header bg-red">
                                <h2>Thông tin nhân viên</h2>
                            </div>
                            <div class="body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-7 col-lg-7">
                                            <label for="cbbNhanVien">Chọn nhân viên</label>
                                            <select class="form-control show-tick" id="cbbNhanVien">
                                                <option value="">-- Lựa chọn nhân viên cần đánh giá --</option>
                                                <option value="images/image-gallery/1.jpg">Nguyễn Minh Vy</option>
                                                <option value="images/image-gallery/10.jpg">Nguyễn Tú An</option>
                                                <option value="images/image-gallery/11.jpg">Phan Thị Minh Thư</option>
                                                <option value="images/image-gallery/12.jpg">Trần Tuấn Mã</option>
                                                <option value="images/image-gallery/13.jpg">Lê Thanh Ngân</option>
                                            </select>
                                            <br /><br />

                                            <label for="txtTaiKhoanDanhGia">Người đánh giá</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="txtTaiKhoanDanhGia" disabled class="form-control" 
                                                           value="ttphu">
                                                </div>
                                            </div>

                                            <label for="txtTenNhom">Ghi chú</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea rows="4" id="txtGhiChu" class="form-control no-resize" placeholder="Nhập thêm ghi chú cho nhóm tài khoản"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <label for="txtTenNhom">Hình ảnh nhân viên</label>
                                            <br />
                                            <img id="hinhNhanVien" class='img img-responsive img-thumbnail'
                                                 src="~/images/user.jpg" width="250px" height="auto" />
                                            <br />
                                        </div>
                                        <div class="col-md-11">
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" id="btnNext" class="btn bg-orange btn-sm btn-circle pull-right">
                                                <i class="material-icons">arrow_downward</i>
                                            </button>
                                        </div>
                                    </div><!--row-->
                                </form>
                            </div>  <!--body-card-->
                        </div> <!--card-->
                        <div class="card buoc">
                            <div class="header bg-cyan">
                                <h2>Đánh giá nhân viên</h2>
                            </div>
                            <div class="body">
                                <form>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="40%">Mục tiêu</th>
                                                <th width="15%">Điểm số</th>
                                                <th width="35%">Diễn giải</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                   Mục tiêu 1........
                                               </td>
                                                <td>
                                                    <input type="text" id="txtDiemSo" class="form-control" placeholder="Nhập Điểm số đánh giá...">
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDienGiai" class="form-control"
                                                            placeholder="Nhập diễn giải điểm số đã cho....">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary m-t-15 waves-effect">Đánh giá</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mục tiêu 1........
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDiemSo" class="form-control" placeholder="Nhập Điểm số đánh giá...">
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDienGiai" class="form-control"
                                                           placeholder="Nhập diễn giải điểm số đã cho....">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary m-t-15 waves-effect">Đánh giá</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mục tiêu 1........
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDiemSo" class="form-control" placeholder="Nhập Điểm số đánh giá...">
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDienGiai" class="form-control"
                                                           placeholder="Nhập diễn giải điểm số đã cho....">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary m-t-15 waves-effect">Đánh giá</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mục tiêu 1........
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDiemSo" class="form-control" placeholder="Nhập Điểm số đánh giá...">
                                                </td>
                                                <td>
                                                    <input type="text" id="txtDienGiai" class="form-control"
                                                           placeholder="Nhập diễn giải điểm số đã cho....">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary m-t-15 waves-effect">Đánh giá</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </form>
                                <div class="card">
                                    <div class="header">
                                        <h2>Danh sách các mục tiêu đã đánh giá</h2>
                                    </div>
                                    <div class="body table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="40%">Mục tiêu</th>
                                                    <th width="15%">Điểm số</th>
                                                    <th width="35%">Diễn giải</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Mục tiêu 1........
                                                    </td>
                                                    <td>
                                                       8
                                                    </td>
                                                    <td>
                                                        Nhân viên tốt 
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger m-t-15 waves-effect">Đánh giá lại</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Mục tiêu 1........
                                                    </td>
                                                    <td>
                                                        8
                                                    </td>
                                                    <td>
                                                        Nhân viên tốt
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger m-t-15 waves-effect">Đánh giá lại</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Mục tiêu 1........
                                                    </td>
                                                    <td>
                                                        8
                                                    </td>
                                                    <td>
                                                        Nhân viên tốt
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger m-t-15 waves-effect">Đánh giá lại</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-danger m-t-15 waves-effect">Đánh giá lại tất cả mục tiêu</button>
                                    </div>
                                </div> <!--Cart table danh sách chi tiết-->
                            </div>  <!--body-card-->
                        </div> <!--card Bước-->

                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <br>
                            <button type="button" class="btn btn-primary m-t-15 waves-effect">Lưu lại</button>
                            <button type="button" class="btn btn-default m-t-15 waves-effect">Reset</button>
                            <button type="button" class="btn btn-default m-t-15 waves-effect">Trở lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

    <!-- Large Size -->
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Lựa chọn nguyên liệu</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="form-line">
                            <input type="text" id="txtTenNguyenLieuTimKiem" class="form-control" placeholder="Nhập nhập tên nguyên liệu cần tìm">
                        </div>
                        <span class="input-group-addon">
                            <i class="material-icons">search</i>
                        </span>

                    </div>
                    <div class="danhMucNguyenLieuTimKiem">
                        <div class="bs-example" data-example-id="media-alignment">
                            <div class="media" urlimg="~/images/image-gallery/11.jpg" data-dismiss="modal">
                                <div class="media-left">
                                    <a href="javascript:void(0);">
                                        <img src="~/images/image-gallery/11.jpg" width="64" height="64" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Cà phê xay nguyên chất</h4>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                </div>
                            </div>
                            <div class="media" urlimg="~/images/image-gallery/12.jpg" data-dismiss="modal">
                                <div class="media-left">
                                    <a href="javascript:void(0);">
                                        <img src="~/images/image-gallery/12.jpg" width="64" height="64" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tên nguyên liệu</h4>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                </div>
                            </div>

                            <div class="media" urlimg="~/images/image-gallery/13.jpg" data-dismiss="modal">
                                <div class="media-left">
                                    <a href="javascript:void(0);">
                                        <img src="~/images/image-gallery/13.jpg" width="64" height="64" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tên nguyên liệu</h4>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                </div>
                            </div>
                            <div class="media" urlimg="~/images/image-gallery/14.jpg" data-dismiss="modal">
                                <div class="media-left">
                                    <a href="javascript:void(0);">
                                        <img src="~/images/image-gallery/14.jpg" width="64" height="64" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Tên nguyên liệu</h4>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                    <p>
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                        Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu Chi tiết nguyên liệu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!--danhMucNguyenLieuTimKiem-->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Đóng lại</button>
                </div>
            </div>
        </div>
    </div>  <!-- Large Size -->
</section>



<script type="text/javascript">
    //Code xử lý sự kiện hiện hình ảnh đố uống sau khi đã chọn tren dropdownlist
    $(document).ready(function () {
        $('#cbbNhanVien').change(function () {
            var valURL = getDuongDan() + $('#cbbNhanVien').val();
            $('#hinhNhanVien').attr('src', valURL);
        });
    });
    //Hàm lấy đường dẫn locolhost: http://localhost:54272
    function getDuongDan() {
        var kq = window.location.protocol + '//' + window.location.host;
        return kq + '/';
    }

    //Code xử lý sự kiện click vào nút next tại cart thông tin công thức thực hiện chuyển xuống card chi tiết công thức
    $("#btnNext").click(function () {
        $('html,body').animate({
            scrollTop: $(".buoc").offset().top
        },
            'slow');
    });

    //Code xử lý sự kiện click vào chọn 1 nguyên liệu trên model thì hiện hình nguyên liệu lên hinhNguyenLieu
    $('.media').click(function () {
        var valURL = $(this).attr('urlimg');
        $('#hinhNguyenLieu').attr('src', valURL);
    });
</script>




