
@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<style type="text/css">
    .baiViet:hover {
        text-decoration: none;
    }
</style>
<div class="container">
    <div class="col-md-8 duis-1 col-lg-8 col-sm-10 col-xs-12">
        <a href="~/PublicPage/ChiTietBaiViet" class="baiViet">
            <div class="duis-right">
                <h5>Tiêu đề bài viết</h5>
                <img src="~/images/Public/img2.jpg" style="width:100%; height:auto;" />
            </div>
            <div class="clearfix"></div>
            <p>nteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem. </p>
            <span class="btn btn-info" >Read More</span>
        </a>

        <a href="~/PublicPage/ChiTietBaiViet" class="baiViet">
            <div class="duis-right">
                <h5>Tiêu đề bài viết</h5>
                <img src="~/images/Public/2.jpg" style="width:100%; height:auto;" />
            </div>
            <div class="clearfix"></div>
            <p>nteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem. </p>
            <span class="btn btn-info">Read More</span>
        </a>
        <a href="~/PublicPage/ChiTietBaiViet" class="baiViet">
            <div class="duis-right">
                <h5>Tiêu đề bài viết</h5>
                <img src="~/images/Public/img2.jpg" style="width:100%; height:auto;" />
            </div>
            <div class="clearfix"></div>
            <p>nteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem. </p>
            <span class="btn btn-info">Read More</span>
        </a>
        <a href="~/PublicPage/ChiTietBaiViet" class="baiViet">
            <div class="duis-right">
                <h5>Tiêu đề bài viết</h5>
                <img src="~/images/Public/valentia.jpg" style="width:100%; height:auto;" />
            </div>
            <div class="clearfix"></div>
            <p>nteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem. </p>
            <span class="btn btn-info">Read More</span>
        </a>

    </div>
    <div class="col-md-4 col-lg-4 col-sm-2 duis-top" >
        <h3>Bài viết theo chủ đề</h3>
        <div class="list-group">
            <a href="#" class="list-group-item">Khuyến mại</a>
            <a href="#" class="list-group-item">Quảng cáo</a>
            <a href="#" class="list-group-item">Giới thiệu</a>
        </div>
    </div>

</div>