
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="container">
    <div class="specials">
        <h3>Menu Đồ uống</h3>
        <div class="special-top">
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img4.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Cà phê đen</a></h5>
                <p>15.000 VNĐ</p>
            </div>

            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img1.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Đá me</a></h5>
                <p>20.000 VNĐ</p>
            </div>

            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img2.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Siro</a></h5>
                <p>Latte</p>
            </div>

            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img3.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Trà đào</a></h5>
                <p>25.000 VNĐ</p>
            </div>
        </div> <!--Special-top-->
        <div class="special-top">
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img5.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Trà sâm</a></h5>
                <p>30.000 VNĐ</p>
            </div>

            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img6.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Trà sữa thái</a></h5>
                <p>25.000 VNĐ</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img3.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Vivamus vel eros nulla</a></h5>
                <p>Cappuccino</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img1.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Vivamus vel eros nulla</a></h5>
                <p>Americano</p>
            </div>
            <div class="clearfix"> </div>
        </div><!--Special-top-->
        <div class="special-top">
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img5.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Trà sâm</a></h5>
                <p>30.000 VNĐ</p>
            </div>

            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img6.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Trà sữa thái</a></h5>
                <p>25.000 VNĐ</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img3.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Vivamus vel eros nulla</a></h5>
                <p>Cappuccino</p>
            </div>
            <div class="col-md-3 special-in">
                <a href="~/PublicPage/ChiTietSanPham">
                    <img src="~/images/Public/img1.jpg" class="img-responsive" alt="">

                </a>
                <h5><a href="~/PublicPage/ChiTietSanPham">Vivamus vel eros nulla</a></h5>
                <p>Americano</p>
            </div>
            <div class="clearfix"> </div>
        </div><!--Special-top-->
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <nav>
                    <ul class="pagination pagination-lg">
                        <li><a href="#" style="color:#7A282C; font-weight:bold;">&lt;</a></li>
                        <li><a href="#" style="color: #7A282C; font-weight: bold;">1</a></li>
                        <li><a href="#" style="color: #7A282C; font-weight: bold;">2</a></li>
                        <li><a href="#" style="color: #7A282C; font-weight: bold;">3</a></li>
                        <li><a href="#" style="color: #7A282C; font-weight: bold;">4</a></li>
                        <li><a href="#" style="color: #7A282C; font-weight: bold;">5</a></li>
                        <li><a href="#" style="color: #7A282C; font-weight: bold;">&gt;</a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <div class="special-bottom">
            <div class="col-md-6 bottom-special">
                <h5><a href="~/PublicPage/ChiTietSanPham">MENU ĐỒ UỐNG</a></h5>
                <a href="~/PublicPage/ChiTietSanPham" class="more">Xem chi tiết</a>
            </div>
            <div class="col-md-6 bottom-special-1">
                <h5><a href="~/PublicPage/ChiTietSanPham">MENU ĐỒ ĂN</a></h5>
                <a href="~/PublicPage/ChiTietSanPham" class="more">Xem chi tiết</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!---->

