@{
    ViewBag.Title = "Lựa chọn bàn - Chổ ngồi";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="container">
    <div class="specials">
        <h3>Lựa chọn bàn - Chổ ngồi</h3>


        <div class="row">
            <form action="/dat-ban" method="post">
                <div class=" col-md-3 contact-left">
                    <div>
                        <span>Chọn thời điểm đến dự kiến:</span>
                        <input type="datetime-local" name="txtNgayDen" class="form-component">
                    </div>
                </div>

                <div class=" col-md-4 contact-left">
                    <div>
                        <span>Chọn thời điểm đến dự kiến:</span>
                        <select class="form-component" name="cbbKhuVuc">
                            <option value="-1">-- Lựa chọn khu vực --</option>
                            @Html.Raw(ViewBag.CbbKhuVuc)
                        </select>
                    </div>
                </div>

                <div class=" col-md-2 contact-left">
                    <div>
                        <span>Số lượng chổ ngồi:</span>
                        <input type="number" name="txtSoLuong" class="form-component" placeholder="Nhập số lượng chổ ngồi mong muốn">
                    </div>
                </div>

                <div class=" col-md-3 contact-left">
                    <div>
                        <br /><br />
                        <input type="submit" name="txtTenNguoiGui" class="textbox" value="Liệt kê">
                        <a href="/checking" id="js-soluongDat" class="amount-order"></a>
                    </div>
                </div>

            </form>
        </div>


        <div class="row" id="vungDanhSachBan">
            @Html.Raw(ViewBag.DanhMucBan)
        </div>
    </div>
</div>

<div id="js-modal-detail-ban">

</div>
<script src="~/Scripts/dungChung.js"></script>
<script src="~/Scripts/Ajax/ajaxPublic.js"></script>
