@{
    ViewBag.Title = "Đặt bàn";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<style type="text/css">
    input {
        padding: 14px;
        display: block;
        width: 98%;
        background: none;
        border: 1px solid #673840;
        outline: none;
        color: #bf6459;
        font-size: 1em;
    }
</style>
<div class="container">
    <div class="contact">
        <div class="contact-in">
            <h3>ĐẶT BÀN</h3>
            <div class=" col-md-5 contact-left">

                <form>
                    <div>
                        <span>Họ và tên</span>
                        <input name="txtHoTenKH" type="text" class="textbox" placeholder="Nhập họ và tên của bạn tại đây">
                    </div>
                    <div>
                        <span>Số điện thoại</span>
                        <input name="txtSDT" type="text" class="textbox" placeholder="Nhập số điện thoại của bạn tại đây">
                    </div>
                    <div>
                        <span>E-Mail</span>
                        <input name="txtEmail" type="text" class="textbox" placeholder="Nhập email của bạn tại đây">
                    </div>
                    <div>
                        <span>Địa chỉ</span>
                        <input name="txtDiaChi" placeholder="Nhập địa chỉ của bạn tại đây" type="text" class="textbox">
                    </div>
                    <div>
                        <span>Số lượng khách đến</span>
                        <input name="txtSoLuongKhach" placeholder="Nhập số lượng khách đến tại đây" type="number" class="textbox">
                    </div>
                    <div>
                        <span>Ngày đến dự kiến</span>
                        <input name="txtNgayDenDuKien" type="datetime-local" placeholder="Nhập ngày giờ đến dự kiến" class="textbox">
                    </div>
                    <div>
                        <span>Yêu cầu khác</span>
                        <textarea name="userMsg" placeholder="Nhập thêm yêu cầu khác của bạn tại đây (Trang trí, món ăn, đồ uống....)"> </textarea>
                    </div>
                    <div>
                        <span><input type="submit" value="Hoàn tất"></span>
                    </div>
                </form>
            </div>

            <div class=" col-md-7 contact-right">
                <table border="1">
                    <thead>
                        <tr>
                            <th style="width:10%">Số bàn</th>
                            <th style="width:20%">Khu vực</th>
                            <th style="width:15%">Sức chứa</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>Khu vực 4</td>
                            <td>
                                5
                            </td>
                            <td class="actions">
                                <button class="btn btn-info btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                                <button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>Khu vực 4</td>
                            <td>
                                5
                            </td>
                            <td class="actions">
                                <button class="btn btn-info btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                                <button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <a href="~/PublicPage/DanhSachBan" class="btn btn-info pull-right "><i class="glyphicon glyphicon-circle-arrow-left">
                    </i> Chọn thêm bàn</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>