@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<!--Gán vùng banner chứa hình ảnh, slideshow-->
@Html.Action("PartHome_Banner1", "PublicPage");

<!-- duis -->
<div class="duis">
    <div class="down">
        <a href="#contact" class="scroll">
            <img src="~/images/Public/dwnar.png" class="img-responsive" alt="" />
        </a>
    </div>
    <div class="container">
        <h2>Thông tin nổi bật</h2>
        @Html.Action("PartHome_BaiViet", "PublicPage")
    </div>
</div>
<!-- duis -->


<!-- anean -->
<div class="anean">
    <div class="container">
        <label></label>
        <div class="anean-top">
            <h3>Điểm nổi bật khác biệt</h3>
            <p>Chúng tôi áp dụng công nghệ vào quá trình quản lý và phục vụ khách hàng</p>
        </div>
        <label></label>
    </div>
</div>
<!-- anean -->


<div class="anean-bottom">
    <div class="container">

        <div class="col-md-10">

            <!--Vùng hiện danh sách 4 sản phẩm bán chạy nhất-->
            @Html.Action("PartHome_SanPhamNoiTroi", "PublicPage")
        </div>

        <div class="col-md-2 maece">
            <h4>Loại đồ uống</h4>

            @Html.Action("PartHome_LoaiSanPham", "PublicPage")

          
        </div>
    </div>
</div>


