@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="banner1" style="margin-top:-120px;">
    <div class="container">
        <!-- portfolio -->
        <div class="worksmain">
            <div class="section group">
                <div class="gallery-box">
                    <div id="nivo-lightbox-demo">  <a href="~/images/Public/img1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </div>
                    <img src="~/images/Public/img1.jpg" alt="">
                </div>
                <div class="gallery-box">
                    <div id="nivo-lightbox-demo">  <a href="~/images/Public/img2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </div>
                    <img src="~/images/Public/img2.jpg" alt="">
                </div>
                <div class="gallery-box">
                    <div id="nivo-lightbox-demo">  <a href="~/images/Public/img3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                    <img src="~/images/Public/img3.jpg" alt="">
                </div>
                <div class="gallery-box">
                    <div id="nivo-lightbox-demo"> <a href="~/images/Public/img4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                    <img src="~/images/Public/img4.jpg" alt="">
                </div>
                <div class="gallery-box">
                    <div id="nivo-lightbox-demo">  <a href="~/images/Public/img5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                    <img src="~/images/Public/img5.jpg" alt="">
                </div>
                <div class="gallery-box">
                    <div id="nivo-lightbox-demo">  <a href="~/images/Public/img5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                    <img src="~/images/Public/img5.jpg" alt="">
                </div>

                <div class="clearfix"></div>
            </div>
            <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
                });
            </script>
        </div>
        <h3>Morbi molestie dolor vel commodo</h3>
        <p>Mentum mauris. orbi vulputate ultrices semper. Phasellus ultricies elit et orcidunt est congue tortor vehicul acilisis purus in malesuada purus lacin</p>
    </div>
</div>
<!-- duis -->
<div class="duis">
    <div class="down">
        <a href="#contact" class="scroll">
            <img src="~/images/Public/dwnar.png" class="img-responsive" alt="" />
        </a>
    </div>
    <div class="container">
        <h2>Duis felis liberomollis non</h2>
        <div class="duis-top">
            <div class="col-md-6 duis-1">
                <div class="duis-left">
                    <i class="setting"></i>
                </div>
                <div class="duis-right">
                    <h5>Tate ultrices semper illus</h5>
                </div>
                <div class="clearfix"></div>
                <p>nteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem. </p>
                <a href="#" class="more">Read More</a>
            </div>
            <div class="col-md-6 duis-1">
                <div class="duis-left">
                    <i class="leaf"></i>
                </div>
                <div class="duis-right">
                    <h5>Join ltrices semper illus</h5>
                </div>
                <div class="clearfix"></div>
                <p>Teger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem.  </p>
                <a href="#" class="more">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="duis-top">
            <div class="col-md-6 duis-1">
                <div class="duis-left">
                    <i class="cup"></i>
                </div>
                <div class="duis-right">
                    <h5>Lorem ipsum semper illus</h5>
                </div>
                <div class="clearfix"></div>
                <p>Eger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem.  </p>
                <a href="#" class="more">Read More</a>
            </div>
            <div class="col-md-6 duis-1">
                <div class="duis-left">
                    <i class="gift"></i>
                </div>
                <div class="duis-right">
                    <h5>Trices semper illus vivamus</h5>
                </div>
                <div class="clearfix"></div>
                <p>Osteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit amet lectus. Praesent enim massa, ultrices ac elit vel, commodo ullamcorper elit. Quisque ac magna tellus. Cras eu elementum sem.  </p>
                <a href="#" class="more">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- duis -->
<!-- anean -->
<div class="anean">
    <div class="container">
        <label></label>
        <div class="anean-top">
            <h3>Aenean non mi ac neque rutrum bibendum</h3>
            <p>Nunc elementum est ut dignissim posuere</p>
        </div>
        <label></label>
    </div>
</div>
<!-- anean -->
<div class="anean-bottom">
    <div class="container">
        <div class="col-md-6">
            <div class="anean-1">
                <div class="anean-left">
                    <img src="~/images/Public/img9.jpg" class="img-responsive" alt="" />
                </div>
                <div class="anean-right">
                    <h4>Aenean non miac</h4>
                    <span>- Nunce element</span>
                    <p>Osteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit . </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="anean-1">
                <div class="anean-left">
                    <img src="~/images/Public/img10.jpg" class="img-responsive" alt="" />
                </div>
                <div class="anean-right">
                    <h4>Civamus et diam sed </h4>
                    <span>- Pharetra sit amet</span>
                    <p>Teger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit . </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="anean-1">
                <div class="anean-left">
                    <img src="~/images/Public/img7.jpg" class="img-responsive" alt="" />
                </div>
                <div class="anean-right">
                    <h4>Morbi ac molestie</h4>
                    <span>-Tincidunt fermen</span>
                    <p>Josteger non semper nunc. Nam lacus diam, dignissim eu lobortis sit amet, ultrices sit . </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="anean-1">
                <div class="anean-left">
                    <img src="~/images/Public/img8.jpg" class="img-responsive" alt="" />
                </div>
                <div class="anean-right">
                    <h4>Siooni</h4>
                    <p>Osteger non semper nunc. Nam lacus diam, dignissim  </p>
                </div>
                <div class="clearfix"></div>
                <p>Donec faucibus sem a dolor condimentum, eget commodo lacus vehicula ellentesque id mauris vehicula, porttitor augue vitae, elementum.</p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatu</p>
                <a href="#" class="more">Read More</a>
            </div>
        </div>
        <div class="col-md-3 maece">
            <h4>Maecenas a hendrerit</h4>
            <ul>
                <li><a href="#"><span> </span>Nam at urna quis lacus utre </a></li>
                <li><a href="#"><span> </span>Posuere justo velitet laotinoc </a></li>
                <li><a href="#"><span> </span>Donec egestas diam sed odioti</a></li>
                <li><a href="#"><span> </span>Integer eu nibh vitae massa</a></li>
                <li><a href="#"><span> </span>Cras vehicula nunc sed umb</a></li>
                <li><a href="#"><span> </span>Quisque non risus dui, vel pos</a></li>
                <li><a href="#"><span> </span>Aenean nec diam libero, sum</a></li>
                <li><a href="#"><span> </span>Donec egestas diam sed odioti</a></li>
                <li><a href="#"><span> </span>Integer eu nibh vitae massa</a></li>
            </ul>
        </div>
    </div>
</div>

