@model qlCaPhe.Models.cauHinh
           @using qlCaPhe.App_Start

<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="../"><img src="@xulyDuLieu.chuyenByteHinhThanhSrcImage(Model.loGo)" class="img-responsive" alt="" /></a>
            </div>
            <div class="hader-left">
                <h1><a href="../">@xulyDuLieu.traVeKyTuGoc(Model.tenQuan)</a></h1>
            </div>
            <div class="head-nav">
                <span class="menu"> </span>
                <ul class="cl-effect-3">
                    <li><a href="../">Trang chủ</a></li>
                    <li><a href="~/dat-ban">Đặt bàn</a></li>
                    <li><a href="~/san-pham">Sản phẩm</a></li>
                    <li><a href="~/bai-viet">Bài viết</a></li>
                    <li><a href="~/lien-he">Liên hệ</a></li>
                    <li><a href="~/phan-hoi">Phản hồi</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!-- script-for-nav -->
            <script>
                $("span.menu").click(function () {
                    $(".head-nav ul").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
            <!-- script-for-nav -->
        </div>
    </div>
    <!--//End-Gallery-->
    <!-- portfolio -->
</div>

