@model List<qlCaPhe.Models.baiViet>
@using qlCaPhe.App_Start


<div class="duis-top">
    @{
        var index = 0;
    }
    @if (Model.Count > 0)
    {
           foreach (var baiViet in Model)
    {
        string tenBV = xulyDuLieu.traVeKyTuGoc(baiViet.tenBaiViet);
        string urlRewrite = xulyDuLieu.taoUrlChoSEO("bai-viet", tenBV, baiViet.maBaiViet.ToString());
        
        <div class="col-md-6 duis-1">
            <div class="duis-left">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </div>
            <div class="duis-right">
                <h5>@xulyDuLieu.traVeKyTuGoc(baiViet.tenBaiViet)</h5>
            </div>
            <div class="clearfix"></div>
            <p>@xulyDuLieu.traVeKyTuGoc(baiViet.noiDungTomTat)</p>
            <a href="@urlRewrite" class="more">Đọc tiếp</a>
        </div>

        index++;
        if (index == 2)
        {
            index = 0;
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        }
    }
    }

</div>