@model List<qlCaPhe.Models.loaiSanPham>
@using qlCaPhe.App_Start

<ul>
    @foreach (var loai in Model)
    {
        string tenLoai = xulyDuLieu.traVeKyTuGoc(loai.tenLoai);
        string urlRewrite = xulyDuLieu.taoUrlChoSEO("loai-san-pham", tenLoai, loai.maLoai.ToString());
        <li><a href="@urlRewrite"><span> </span>@xulyDuLieu.traVeKyTuGoc(loai.tenLoai)</a></li>
    }
</ul>
