
<script src="~/Scripts/jsapi.js"></script>
<script src="~/Scripts/Ajax/ThongKe/thongKeDoanhThu.js"></script>

<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    $(document).ready(function () {
        var ts = getDateCurrent();
        VeBieuDoTronThongKeSanPham(ts);
    });


    function VeBieuDoTronThongKeSanPham(ts) {
        var title = "Thống kê số lượng sản phẩm bán theo ngày hôm nay";
        $.ajax({
            type: "GET",
            url: '/ThongKe/GetJsonSanPhamTheoNgay',
            data: 'param=' + ts,
            contentType: "application/json; charset=utf-8",
            dataType: "json", async: true,
            beforeSend: function () {
                $('#pie-chart-ngay').html('');
            },
            success: function (kq) {
                var lenghtJson = Object.keys(kq).length;
                if (lenghtJson > 0) {

                    $('#js-vung-thongke').attr('style', 'display:block');
                    hienTongDoanhThuSanPham(kq);
                    drawPieChartSanPham(kq, title, "pie-chart-ngay");
                }
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>




<div class="card col-md-6">
    <div class="header bg-cyan">
        <h2>SẢN PHẨM BÁN CHẠY TRONG NGÀY</h2>
    </div>
    <div class="body">
        <label class="font-18 col-red js-tong-doanh-thu-sanpham"></label>
        <div id="pie-chart-ngay" class="pie-chart"></div>
    </div>
</div>
