@model List<qlCaPhe.Models.Feedback>
@using qlCaPhe.App_Start

@if (Model.Count > 0)
{
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-cyan">
                <div class="m-b--35 font-bold">PHẢN HỒI GẤN NHẤT</div>

                <ul class="dashboard-stat-list">
                    @foreach (var phanHoi in Model)
                    {
                        <li>
                            <b>@xulyDuLieu.xulyCatChuoi(xulyDuLieu.traVeKyTuGoc(phanHoi.tieuDe), 26)</b>
                            <a class="pull-right" href="/PhanHoi/ph_TableChoPhanHoi">Xem chi tiết</a>
                        </li>
                    }                
                </ul>
            </div>
        </div>
    </div>
}