@{
    ViewBag.Title = "Danh mục khu vực";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}


@section sciptajax{
@Html.Raw(ViewBag.ScriptAjax)
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Cơ sở - vật chất> Danh mục khu vực</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">blur_circular</i>
                                <span class="font-20">QUẢN LÝ KHU VỰC</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/KhuVuc/kv_TaoMoiKhuVuc">
                                            <i class="material-icons">add</i> TẠO MỚI KHU VỰC
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/KhuVuc/kv_TableKhuVuc">
                                            <i class="material-icons">list</i> DANH MỤC KHU VỰC
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th width="20%">Tên khu vực</th>
                                                    <th width="35%">Diễn giải</th>
                                                    <th width="10%">Diện tích</th>
                                                    <th width="15%">Tổng sức chứa</th>
                                                    <th width="20%">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                                @*<tr role="row" class="odd">
                                                        <td>
                                                            Khu vực A
                                                        </td>
                                                        <td>Trên lầu, thoáng mát</td>
                                                        <td>30 m<sup>2</sup></td>
                                                        <td>100 khách</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                    Chức năng <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li><a href="/KhuVuc/kv_ChinhSuaKhuVuc?maKV=" class="col-blue"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                                                    <li><a href="#" class="col-red"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>*@

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)