@{
    ViewBag.Title = "Tất cả hóa đơn đã thanh toán";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}




@section stylecustom{

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
}
@section sciptajax{
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Đặt bàn - Thanh toán > Danh mục hoá đơn</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">playlist_add_check</i>
                            DANH SÁCH TẤT CẢ HOÁ ĐƠN ĐÃ THANH TOÁN
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink" role="tablist">

                            <li role="presentation" class=""><a href="/HoaDon/hd_TableHoaDonOrderTrongNgay"><i class="material-icons">date_range</i>Hóa đơn trong ngày</a></li>
                            <li role="presentation" class=""><a href="/HoaDon/hd_TableHoaDonOrderTrongCa"><i class="material-icons">timeline</i>Hóa đơn trong ca</a></li>
                            <li role="presentation" class=""><a href="/HoaDon/hd_TableHoaDonOrderTrongTuan"><i class="material-icons">view_week</i>Hóa đơn trong tuần</a></li>
                            <li role="presentation" class="active"><a href="/HoaDon/hd_TableTatCaHoaDonOrder"><i class="material-icons">present_to_all</i>Tất cả hóa đơn</a></li>

                            <li class="pull-right"><button type="button" class="btn bg-purple btn-circle waves-effect waves-circle waves-float" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample"><i class="material-icons">search</i></button></li>
                        </ul>

                        <div class="tab-content">

                            <div class="row">
                                <div class="collapse" id="collapseExample" aria-expanded="true" style="">

                                    <form class="form-horizontal" action="/HoaDon/hd_TableTatCaHoaDonOrder" method="post">
                                        <div class="row clearfix">
                                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                                <label for="email_address_2">Số hóa đơn</label>
                                            </div>

                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="number" id="txtSoHoaDon" class="form-control" name="txtSoHoaDon"
                                                               placeholder="Nhập số hóa đơn cần tìm">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                                <button type="submit" class="btn btn-primary waves-effect"><i class="material-icons">search</i>
                                                    <span>TÌM</span>
                                                </button>
                                            </div>
                                        </div>
                                        
 
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th width="9%">Số hóa đơn</th>
                                                    <th width="10%">Số bàn</th>
                                                    <th width="15%">Ngày lập</th>
                                                    <th width="15%">Phục vụ</th>
                                                    <th width="15%">Người xuất</th>
                                                    <th width="10%">Tổng tiền</th>
                                                    <th width="15%">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                                @*<tr role="row" class="odd">
                    <td class="sorting_1">Bàn 01</td>
                    <td>10/11/2017</td>
                    <td>12:05:45</td>
                    <td>null</td>
                    <td>Nguyễn Mai Thi</td>
                    <td>150.000</td>
                    <td><button class="btn btn-primary waves-effect" data-toggle="modal" data-target="#largeModal">Thanh toán</button></td>
                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

<!--Modal xem chi tiết các sản phẩm có trong hóa đơn-->
@Html.Raw(ViewBag.ModalChiTiet)

