@{
    ViewBag.Title = "Thông kê hóa đơn";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
<script>

</script>
<!--Script chart-->
<script src="~/plugins/ChartCustom/Chart.bundle.js"></script>
<script src="~/plugins/ChartCustom/utils.js"></script>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Đặt bàn - Thanh toán &gt; Danh mục hoá đơn > Thống kê hóa đơn</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">playlist_add_check</i>
                            THỐNG KÊ HÓA ĐƠN THEO NGÀY
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink" role="tablist"></ul>

                        <div class="tab-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="font-bold col-pink font-16">Từ ngày 3/10/2018 - 3/17/2018</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">

                                    <canvas id="canvasBills"></canvas>

                                    @*<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px;
bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div>
                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>

                                    </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@*<script>
    var configLichSuGia = { type: 'line', data: { labels: ["2/3/2018 4:12:08 PM", ], datasets: [{ label: "Đơn giá", backgroundColor: window.chartColors.blue, borderColor: window.chartColors.blue, data: [10000, ], fill: false, }] }, options: { responsive: true, tooltips: { mode: 'index', intersect: false, }, hover: { mode: 'nearest', intersect: true }, scales: { xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Ngày cập nhật' } }], yAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Đơn giá' } }] } } }; window.onload = function () { var canvasLichSuGia = document.getElementById("canvasLichSuGia").getContext("2d"); window.myLine = new Chart(canvasLichSuGia, configLichSuGia); };
</script>*@



<script>
    //var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    var color = Chart.helpers.color;
    var barChartData = {
        labels: ["", "3/15/2018 11:28:02 PM	", "3/15/2018 11:30:46 PM", "3/17/2018 1:03:19 AM", "2/4/2018 1:01:59 AM", "2/4/2018 1:18:20 AM	", "2/4/2018 1:25:57 AM	", "2/4/2018 1:26:05 AM	", "2/15/2018 2:01:54 PM", "2/15/2018 2:02:11 PM", "2/15/2018 2:03:41"
        , "2/15/2018 2:03:41 PM", "2/15/2018 2:06:06 PM", "2/15/2018 2:24:43 PM", "2/15/2018 2:25:02 PM	", "2/15/2018 2:25:20 PM", "2/15/2018 2:25:41 PM", "2/15/2018 2:26:04 PM", "2/15/2018 2:26:24 PM"],
        datasets: [{
            label: 'Hóa đơn',
            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
            borderColor: window.chartColors.blue,
            borderWidth: 1,
            data: [
                0, 21000, 40000, 52000, 41000, 34000, 44000, 22000, 44000, 20000, 34000, 41000, 44000, 21000, 35000, 44000, 32000, 21000,10000
            ]
        }]

    };

    window.onload = function () {
        var ctx = document.getElementById("canvasBills").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Biểu đồ thống kê hóa đơn theo tuần'
                }
            }
        });

    };
</script>