@{
    ViewBag.Title = "Hóa đơn đã thanh toán trong ngày";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}


<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Đặt bàn - Thanh toán > Danh mục hoá đơn</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <i class="material-icons">playlist_add_check</i>
                            DANH SÁCH HOÁ ĐƠN ĐÃ THANH TOÁN TRONG NGÀY
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink" role="tablist">

                            <li role="presentation" class="active"><a href="/HoaDon/hd_TableHoaDonOrderTrongNgay"><i class="material-icons">date_range</i>Hóa đơn trong ngày</a></li>
                            <li role="presentation" class=""><a href="/HoaDon/hd_TableHoaDonOrderTrongCa"><i class="material-icons">timeline</i>Hóa đơn trong ca</a></li>
                            <li role="presentation" class=""><a href="/HoaDon/hd_TableHoaDonOrderTrongTuan"><i class="material-icons">view_week</i>Hóa đơn trong tuần</a></li>
                            <li role="presentation" class=""><a href="/HoaDon/hd_TableTatCaHoaDonOrder"><i class="material-icons">present_to_all</i>Tất cả hóa đơn</a></li>

                        </ul>

                        <div class="tab-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr>
                                                <th width="9%">Số hóa đơn</th>
                                                <th width="10%">Số bàn</th>
                                                <th width="15%">Ngày lập</th>
                                                <th width="15%">Phục vụ</th>
                                                <th width="15%">Người xuất</th>
                                                <th width="10%">Tổng tiền</th>
                                                <th width="15%">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tfoot>

                                        </tfoot>
                                        <tbody>
                                            @Html.Raw(ViewBag.TableData)
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 pull-right">
                                    <div class="pull-right">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

<!--Modal xem chi tiết các sản phẩm có trong hóa đơn-->
@Html.Raw(ViewBag.ModalChiTiet)
