@{
    ViewBag.Title = "Danh mục nhà cung cấp tạm ngưng";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}



@section stylecustom{
    <link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
}
@section sciptajax{
    @Html.Raw(ViewBag.ScriptAjax)
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nguyên liệu - Nhà cung cấp > Danh mục nhà cung cấp</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DANH MỤC NHÀ CUNG CẤP NGỪNG CUNG CẤP
                        </h2>
                    </div>
                    <div class="body">
                        <div class="body">
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class=""><a href="/NhaCungCap/ncc_TableNhaCungCap">Danh mục nhà cung cấp còn cung cấp</a></li>
                                <li role="presentation" class="active"><a href="/NhaCungCap/ncc_TableNhaCungCapNgung">Danh mục nhà cung cấp ngừng cung cấp</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                        <tr>
                                                            <th width="20%" rowspan="1" colspan="1">Tên nhà cung cấp</th>
                                                            <th width="10%" rowspan="1" colspan="1">Mã số thuế</th>
                                                            <th width="25%" rowspan="1" colspan="1">Địa chỉ</th>
                                                            <th width="15%" rowspan="1" colspan="1">Số điện thoại</th>
                                                            <th width="10%" rowspan="1" colspan="1">Email</th>
                                                            <th width="20%" rowspan="1" colspan="1"></th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>

                                                    </tfoot>
                                                    <tbody>
                                                        @Html.Raw(ViewBag.TableData)
                                                        @*<tr role="row" class="odd">
                                                                <td>
                                                                    <a href="http://www.trungnguyen.com.vn/" target="_blank" class="goiY">
                                                                        Cà phê Trung Nguyên
                                                                        <span class="noiDungGoiY-right">Click để vào trang web</span>
                                                                    </a>

                                                                </td>
                                                                <td>325456545</td>
                                                                <td>123 Nguyễn Trãi, Q.5, TP.HCM</td>
                                                                <td>0909888444</td>
                                                                <td>caphetrungnguyen@mail.com</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                            Chức năng <span class="caret"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li><a href="#" class="col-blue"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                                                            <li><a href="#" class="col-orange"><i class="material-icons">clear</i>Ngừng cung cấp</a></li>
                                                                            <li><a href="#" class="col-red"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>*@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                            <div class="pull-right" id="DataTables_Table_0_paginate">
                                                @Html.Raw(ViewBag.PhanTrang)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->
        </div>
    </div>
</section>

@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)